-# frozen_string_literal: true

%div{ id: answer.id, class: "answer #{'accepted-answer' if answer.is_accepted_answer?}" }
  .post-layout
    = render 'votecell', { post: answer }
    .answercell.post-layout--right
      .s-prose
        = answer.body
      .mt24
        = render 'links', { post: answer }
    .post-layout--right
      .comments.bt.bc-black-075.mt12
        %ul.comments-list
          = render answer.comments
      %div
        = link_to 'Add a comment', '/signin', class: 'comments-link', title: 'Use comments to ask for more information or suggest improvements. Avoid comments like “+1” or “thanks”.'
