-# frozen_string_literal: true

:ruby
  author = post.author
  number_of_answers = post.answers.size
  number_of_votes = post.votes.to_i

.s-post-summary{ id: "question-summary-#{post.id}" }
  .s-post-summary--stats
    .s-post-summary--stats-item.s-post-summary--stats-item__emphasized
      %span.s-post-summary--stats-item-number= number_of_votes
      %span.s-post-summary--stats-item-unit= 'vote'.pluralize(number_of_votes)
    %div{ class: "s-post-summary--stats-item #{'has-answers' if number_of_answers.positive?} #{'has-accepted-answer' if post.has_accepted_answer?}" }
      - if post.has_accepted_answer?
        %svg.svg-icon.iconCheckmarkSm{ height: '14', viewbox: '0 0 14 14', width: '14' }
          %path{ d: 'M13 3.41 11.59 2 5 8.59 2.41 6 1 7.41l4 4 8-8Z' }
      %span.s-post-summary--stats-item-number= number_of_answers
      %span.s-post-summary--stats-item-unit= 'answer'.pluralize number_of_answers, 'answers'
    .s-post-summary--stats-item
      %span.s-post-summary--stats-item-number= post.views.to_i
      %span.s-post-summary--stats-item-unit views
  .s-post-summary--content
    %h3.s-post-summary--content-title
      = link_to post.title, show_post_path(id: post.id, title_slug: post.title_slug), class: 's-link'
    .s-post-summary--content-excerpt
      = post.body_plain_text
    .s-post-summary--meta
      .s-post-summary--meta-tags.tags.js-tags
        %ul.ml0.list-ls-none.js-post-tag-list-wrapper.d-inline
          = render post.tags
      .s-user-card.s-user-card__minimal
        = link_to '#', class: 's-avatar s-avatar__16 s-user-card--avatar js-user-hover-target' do
          .gravatar-wrapper-16
            = image_tag author.gravatar_url, width: 16, height: 16, class: 's-avatar--image'
        .s-user-card--info
          .s-user-card--link.d-flex.gs4
            = link_to author.name, '#', class: 'flex--item'
          %ul.s-user-card--awards
            %li.s-user-card--rep
              %span{ dir: 'ltr' }= human_number author.reputation
          %time.s-user-card--time
            asked
            %span.relativetime= human_time post.published_at
